.project
target/
/.settings
*/.settings
*/*/.settings
/results
*.releaseBackup
release.properties
/.idea
*.iml
/target
*/target
*/*/target
*.log
*.lck
metanomedb.properties
metanomedb.script
/metanomedb.tmp
.classpath
*.paw
config.js
build.out
.DS_Store
io/*
scripts/*
.cache
.vscode/settings.json
frontend-react/node_modules/*
frontend-react/dist/
volumes/
temp/*
db_*/
db/*