*       text=auto

*.java  text eol=lf licensefile=.githooks/license-maintainer/LICENSE-javadoc
*.xml   text eol=lf licensefile=.githooks/license-maintainer/LICENSE-xml
*.py    text eol=lf licensefile=.githooks/license-maintainer/LICENSE-python
*.sh    text eol=lf
